<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>Document</title>
    </head>

    <body>
        <div id="app">
            <h3 style="color: red;">Iterando simples</h3>
            <p><button @click="cores.push('Lilaz')">Add</button></p>
            <ul>
                <li v-for="(cor, i) in cores" :key="cor">
                    {{i}} {{cor}}
                </li>
            </ul>
            <hr />
            <h3 style="color: red;">Iterando usando templates</h3>
            <template v-for="(cor, i) in cores">

                <h1 style="margin: 0px;padding: 0px;">{{cor}}</h1>
                <p style="margin: 0px;padding: 0px;">{{cor}}/{{cor}}/{{cor}}</p style="margin: 0px;padding: 0px;">
            </template>
            <hr />
            <div class="content">

                <h3 style="color: red;">Iterando objetos</h3>
                <div class="row">
                    <div class="col" style="margin: 20px;">
                        <table class="table table-hover table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Código</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Cargo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(usuario, i) in usuarios">
                                    <th scope="row">{{i + 1}}</th>
                                    <td>{{usuario.id}}</td>
                                    <td>{{usuario.nome}}</td>
                                    <td>{{usuario.cargo}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <hr />
            <div class="container-fluid">
                <h3 style="color: red;">Iterando objetos com estilo</h3>
                <div class="row">
                    <div class="col-md-4" v-for="(usuario, i) in usuarios" style="margin-bottom: 15px;">
                        <div class="card">
                            <div class="card-header"><span
                                    style="color: darkblue;font-size: 150%;">{{usuario.nome}}</span>
                            </div>
                            <div class="card-body">
                                <div class="row" v-for="(valor, chave, index) in usuario">
                                    <div class="col"><span style="font-weight: bold;">
                                            {{chave}}</span></div>
                                    <div class="col">{{valor}}</div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-secondary">Mais informações</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <script>
            new Vue({
                el: '#app',
                data: {
                    cores: ["verde", "amarelo", "azul", "branco"],
                    usuarios: [
                        { nome: 'Wilson', cargo: 'Desenvolvedor SR', id: 44, email: 'wilson.ti@hotmail.com' },
                        { nome: 'Eduardo', cargo: 'Analista de negócios', id: 24, email: 'eduardo.oliveira@fde.sp.gov.br' },
                        { nome: 'Lucia', cargo: 'DBA', id: 09, 'status': 'desabilitado' },
                        { nome: 'Rodrigo', cargo: 'Desenvolvedor JR', id: 17, 'e-mail': 'rodrigo.manso@gmail.com', status: 'bloqueio temporário' },
                    ]
                },
                methods: {

                }
            })
        </script>
    </body>

</html>